@page "/classes/list"

@using CurdOperation.Models
@using CurdOperation.Services
@inject IClassesService service

<div>
    <h3>Class List</h3>
    <div class="form-group">
        <a class="btn btn-success" href="classes/create"><i class="oi oi-plus"></i> Create New</a>
    </div>
    <br>
</div>
@if (models == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Class Name</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var cls in models)
            {
                <tr>
                    <td>@cls.ClassId</td>
                    <td>@cls.ClassName</td>
                   
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private ClassesModel[] models;

    protected override async Task OnInitializedAsync()
    {
        models = await service.GetClasses();
    }
}
